extends ./layout.jade

block body
  header.scpwnr-head
    h1 Sc Pwnr*
    .scpwnr-head-infos
      h2.scpwnr-head-infos-title Soundcloud's home-made, powerful, and fresh Pwnr.
      a.scpwnr-head-infos-link(href="/stats", data-bind="click: changePage")
        span(data-bind="html: currentPage() == 'scpwnr' ? '?':'&times;'")

  .page.js-page(data-bind="css: {'page--show': currentPage() == 'scpwnr'}")
    include partials/scpwnr

  .page.js-page(data-bind="css: {'page--show': currentPage() == 'infos'}")
    include partials/infos

block scripts
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js")
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js")
  script(type="text/javascript", src="/scripts/scpwnr-client.js")
  script(type="text/javascript", src="/scripts/conversion.js")
  script(type="text/javascript", src="/scripts/track.js")
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/page.js")
