html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, #70e1f5, #ffd194);
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-weight: 300;
  font-size: 2em;
  padding-top: 100px;
  color: rgb(80,80,80);
}

h2 {
  font-weight: 100;
  font-size: 1.3em;
  max-width: 400px;
  margin: auto;
  color: rgb(80,80,80);
}

.form--main {
  padding-top: 50px;
  display: inline-block;
  width: 100%;
  font-size: 0px;
  padding-bottom: 20px;
}

.form-square {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  font-family: inherit;
  border-radius: 5px;

}

.form-url {
  background-color: rgba(240,240,240,1);
  border-right: none;
  width: 550px;
  max-width: 60%;
  font-weight: 200;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.form-submit {
  background-color: #83DFE9;
  color: rgb(35, 87, 132);
  border-left: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

/* Conversion */
.conversion {
  position: relative;
  background-color: rgba(150,150,160,.15);
  padding: 10px;
  padding-right: 50px;
  width: 80%;
  max-width: 550px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  color: rgb(86, 105, 108);
  text-align: left;

  transition: .2s background-color;
  -webkit-transition: .2s background-color;
}

.conversion-seemore {
  background-color: transparent;
  border: none;
  font-size: .8em;
  font-weight: 500;
  padding: 5px;
  outline: 0;
  color: inherit;
  cursor: pointer;
}

.conversion-delete {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0,0,0,.02);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(0,0,0,.3);
  color: black;
  text-align: center;
  cursor: pointer;
}
.conversion-delete:hover {
  background-color: rgba(0,0,0,.1);
}

.conversion-info {
  font-size: .7em;
}

.conversion-info-title {
  display: inline-block;
  width: 60px;
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
}

.conversion-info-desc {
  font-size: .8em;
}

.conversion-track {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  font-size: .8em;

}

.conversion-track:hover {
  text-decoration: underline;
}