html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, #70e1f5, #ffd194);
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  font-weight: 300;
  font-size: 2em;
  padding-top: 100px;
  color: rgb(80,80,80);
}

h2 {
  font-weight: 100;
  font-size: 1.3em;
  max-width: 400px;
  margin: auto;
  color: rgb(80,80,80);
}

.form--main {
  padding-top: 50px;
  display: inline-block;
  width: 100%;
  font-size: 0px;
}

.form-square {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  font-family: inherit;
  border-radius: 5px;

}

.form-url {
  background-color: rgba(240,240,240,1);
  border-right: none;
  width: 550px;
  max-width: 60%;
  font-weight: 200;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.form-submit {
  background-color: #83DFE9;
  color: rgb(35, 87, 132);
  border-left: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.song-type {
  color: red;
}