html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, #70e1f5, #ffd194);
  padding: 100px 0px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.scpwnr-head {
  animation: enter 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation: enter 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes enter {
  0%, 60% {transform: translate(0px, 60px);}
  100% {transform: translate(0px, 0px);}
}

@-webkit-keyframes enter {
  0%, 60% {-webkit-transform: translate(0px, 60px);}
  100% {-webkit-transform: translate(0px, 0px);}
}

h1 {
  margin-top: 0;
  font-weight: 300;
  font-size: 2em;
  color: rgb(80,80,80);
}

h2 {
  font-weight: 100;
  font-size: 1.3em;
  max-width: 400px;
  margin: auto;
  padding: 0px 20px;
  color: rgb(80,80,80);
}

h3 {
  color: rgb(100,100,100);
  font-weight: 300;
  text-decoration: underline;
}

.scpwnr-head-infos {
  opacity: 0;
  animation: fade-in 2s 2s forwards;
  -webkit-animation: fade-in 2s 2s forwards;
}

.scpwnr-head-infos-title {
  display: inline-block;
  vertical-align: middle;
  width: 85%;
}

.scpwnr-head-infos-link {
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  color: #8D8D8D;
  padding: 10px;
  border: 1px solid #C2C2C2;
  border-radius: 100px;
  text-decoration: none;
  transition: all .5s;
  -webkit-transition: all .5s;
}

.scpwnr-head-infos-link:hover {
  background-color: rgb(240,240,240);
  border-color: #686868;
  color: #686868;
}

.page {
  animation: fade-out 1s forwards;
  display: none;
}

.page.page--show {
  animation: fade-in 1s forwards;
  display: block;
}

.form--main {
  position: relative;
  padding: 20px 0px;
  display: inline-block;
  width: 100%;
  font-size: 0px;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  animation: fade-in 1s 1s forwards;
  -webkit-animation: fade-in 1s 1s forwards;
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

.form--main--sticky {
  position: fixed;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #9E9E9E;
}
.form--main-stickyrepl {
  display: none;
  width: 100%;
}

.form--main--sticky + .form--main-stickyrepl {
  display: block;
}

.form-square {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  font-family: inherit;
  border-radius: 5px;
}

.form-url {
  background-color: rgb(240,240,240);
  border-right: none;
  width: 550px;
  max-width: 60%;
  font-weight: 200;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.form-submit {
  background-color: #83DFE9;
  color: rgb(35, 87, 132);
  border-left: none;
  font-weight: 400;
  cursor: pointer;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.form--main-errortooltip {
  position: absolute;
  display: none;
  left: 40%;
  padding: 5px 10px;
  background-color: rgba(233, 171, 171, 0.83);
  font-size: 13px;
  border-radius: 3px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.29);
  max-width: 300px;
  z-index: 20;
}

.form--main-errortooltip::before {
  display: block;
  content: " ";
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(233, 171, 171, 0.83);
}

.form--main-errortooltip.form--main-errortooltip--show {
  display: block;
}

.form--main-errortooltip a {
  color: inherit;
  font-weight: 100;
  text-decoration: none;
}

.form--main-errortooltip a:hover {
  text-decoration: underline;
}

/* Conversion */
.conversion {
  position: relative;
  background-color: rgba(255,255,255,.20);
  padding: 10px;
  padding-right: 50px;
  width: 80%;
  max-width: 550px;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  color: rgb(86, 105, 108);
  text-align: left;
  opacity: 0;

  transition: .2s background-color;
  -webkit-transition: .2s background-color;
}

.conversion--finish {
  background-color: rgba(112, 225, 245, 0.24);
}

.conversion--ready {
  opacity: 1;
}

.conversion-seemore {
  background-color: transparent;
  border: none;
  font-size: .8em;
  font-weight: 500;
  padding: 5px;
  outline: 0;
  color: inherit;
  cursor: pointer;
}

.conversion-delete {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0,0,0,.02);
  border-radius: 50px;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(0,0,0,.3);
  color: black;
  text-align: center;
  cursor: pointer;
}
.conversion-delete:hover {
  background-color: rgba(0,0,0,.1);
}

.conversion-info {
  font-size: .7em;
}

.conversion-info-title {
  display: inline-block;
  width: 60px;
  margin: 0px;
  font-size: 1em;
  font-weight: 600;
}

.conversion-info-desc {
  color: inherit;
  text-decoration: none;
  font-size: .8em;
}
.conversion-info-desc:hover {
  text-decoration: underline;
}

.conversion-cover {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
}

.conversion-track {
  display: block;
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  font-size: .8em;
  transition: color .2s;
  -webkit-transition: color .2s;
}

.conversion-track:hover {
  color: white
}

.track-name {
  display: inline-block;
  vertical-align: middle;
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.track-progress {
  display: inline-block;
  width: 20%;
  height: 15px;
  vertical-align: middle;
  background-color: #F6F6F6;
  overflow: hidden;
  border-radius: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.track-progress.track-progress--error {
  background-color: #FF8686;
}

.track-progress-errormsg {
  display: none;
  text-align: center;
  height: 100%;
  width: 100%;
}

.track-progress.track-progress--error .track-progress-errormsg {
  display: inline-block;
}

.track-progress-percent {
  display: inline-block;
  height: 100%;
  background-color: #FFD194;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
}

.track-progress--finish .track-progress-percent{
  background-color: rgb(112, 225, 245);
}

.track-progress--error .track-progress-percent {
  display: none;
}

.page--infos {
  padding: 20px 10px;
}

.page--infos-text {
  font-size: .8em;
  text-align: left;  
}
